nav{
    background-color: white;
    z-index: 10;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 100%;
    
}


a {
  text-decoration: none;
  color: black !important;
}

.nav1{
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav3{
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 600px){
    
    .nav3 {
        display: none;
    }
    .snav {
        display: block;
    }
    .nav2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 992px){
    .snav {
        display: none;
    }
    .smallnav {
        display: none;
    }
}

.snav{
   color: black;
   size: 100px;
   background-color: #699bf7c4;
   border: none;
}



.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.mobile-nav > a {
    font-size: 20px;
    font-weight:500;
}

.mobile-nav > a:hover {
    color:#699BF7 !important;
}


#navigation > ul {
    list-style: none;
    align-items: center;
}

#navigation > ul > li {
    display: inline-flex;
    align-items: center;
    position: relative;
    

}

#navigation > ul > li > a {
    display: block;
    padding: 3px;
    text-decoration: none;
    font-size: medium;
}

#navigation > ul > li > a,
#navigation > ul > li >a:after,
#navigation > ul > li >a::before {
    transition: all .5s;
}



#navigation > ul > li > a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background:#699BF7;
    height: 2px;
}

#navigation  ul  li  a:hover:after {
    width:100%;
}

.dropdown {
    display: none;
    position: absolute;
    background-color:#699BF7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
    top: 100%;
	right: 0;
	width: 172px;
	z-index: 6;
	padding: 10px;
    border-radius: 2px;
}

  /* Links inside the dropdown */
.dropdown a {
    color: white !important;
    padding: 4px 1px;
    text-decoration: none;
    display: block;
    font-size: medium;
}
  
  /* Change color of dropdown links on hover */
.dropdown a:hover {
    background-color:#9eb1d197;
    
}
  
  /* Show the dropdown menu on hover */
#navigation > ul > li:hover .dropdown {display: block;}


.nav4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    
}


.ti1 {
  font-family: Zen Dots;
  font-size: medium;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}



.ti3 {
    display:flex;
    gap: 10px;
}

.ti3 > button {
    border-radius: 4px;
    border: 1px solid #699BF7;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    
}

.button--1{
    background: white;
    color: #699BF7;
    border: 1px solid #699BF7;

}

.button--2 {
    background: #699BF7;
    color: white;
}

.button--3 {
   background: rgba(105, 155, 247, 0.23);
   color: #699BF7;
   align-items: center;
   flex-shrink: 0;
   display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.button--4{
    border: 1px solid #699BF7;
    color: white;
}

/* end of style for navigation bar*/
#greeting {
    font-size: 30px;
    line-height: 10px;
}

.text-welcome {
    font-size: small;
    font-family: monospace;
}

#admin--page {

    background-color: rgb(214, 213, 213);
    justify-content: center;
}

#greeting {
    padding-top: 50px;
}

.body-body {
    margin-left: 30px;
    margin-right: 30px;
}

.reports {
    border-radius: 5px;
    background: rgba(105, 155, 247, 0.14);
    width: 140px;
    
    padding: 10px;
}

.reports1 {
    border-radius: 5px;
    background: rgba(105, 155, 247, 0.14);
    width: 140px;
    
    padding: 10px;
}

.icon-con > span {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

#icon-bal {
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

#icon-bal1 {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

#icon-pa {
    color: blue;
}

#icon-pa1 {
    color: red;
}

#icon-pa2 {
    color: green;
}

#icon-doc {
    color: blue;
}

.first-container {
    display: flex;
    gap: 10px;
}

.reports--container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

@media only screen and (max-width: 600px){
    .reports--container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .first-container{
        flex-direction: column;
    }
    
    #bal-report {
        display: none;
    }
}

.balance-cont {
    background-color: rgba(105, 155, 247, 0.14);
    padding: 20px;
}

@media only screen and (min-width: 992px) {
    .balance-cont {
        display: none;
    }
}




.first--p {
    color: #000;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
}


.icon-con {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.icon-con1 {
    align-items: center;
    gap: 20px;
    justify-content: center;
}

/*.icon-con1 > h3 {
    
}*/

.bals {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.bals > hr {
    margin: 0;
}












