nav {
    background-color: transparent;
    z-index: 10;
    width: 100%;
}

a {
    text-decoration: none;
    color: white !important;
}

.nav1{
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.ti1 {
    font-family: Zen Dots;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}


.ti3 {
    display:flex;
    gap: 10px;
}

.ti3 > button {
    border-radius: 4px;
    border: 1px solid #699BF7;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    
}

.button--3 {
    background: white;
    color: #699BF7;
    align-items: center;
    flex-shrink: 0;
    display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 5px;
 }



body {
    background-image: url('./images/hero1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    background: #FFFFFF;
    
    
  }
  form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
  }
  form button {
    
    outline: 0;
    background: #FBBC09;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
  }
  form button:hover,.form button:active,.form button:focus {
    background: #e7ad0dc5;
  }

  .ins {
    outline: 0;
    background: #FBBC09;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
  }

.ins:hover {
  color: #FFFFFF;
  background: #e7ad0dc5;
}

  form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  form .message .ab {
    color: #FBBC09;
    cursor: pointer;
  }

.greet {
    position: absolute;
    bottom: 420px;
}

.greet > h1 {
    color: white;
    font-weight: bold;
    font-family: Zen Dots;
}

.greet > p {
    font-family: monospace;
    color: white;
}


.scroll {
    display: flex;
    font-family: monospace;
    align-items: center;
    background-color: #699BF7;
    color: white;
    border: 1px solid #699BF7;
}

.logs-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position:absolute;
    bottom: 30px;
}

.logs-container2 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70vh;
}


@media only screen and (max-width: 600px) {
    .logs-container {
        display: flex;
        flex-direction: row;
        display: none;
    }

    .greet {
        bottom: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .logs-container2 {
        display: none;
    }

    .scroll {
        display: none;
    }
}

.log-items {
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, width 0.3s;
    width: 210px;
}

@media screen and (max-width: 600px) {
   .log-items{
    width: 150px;
   }
}

.log-items:hover span {
    transform: translateY(-10px);
}

.button-container {
    justify-content: center;
    display: flex;
}

.button-container > a {
    border-radius: 4px;
    padding: 3px;
    border: 1px solid #699BF7;
    background-color: white;
    color: #699BF7 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}

.button-container > a:hover {
    background-color: #699BF7;
    color: white !important;
}

.log-items > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-items > div > span {
    font-size: 50px
}